<h1>Ksls#index</h1>
<p>Find me in app/views/ksls/index.html.erb</p>
<p>Showing <%= @jobs.size %> of <%= @total %> jobs. <%= link_to "Scrape for more!", params.merge(controller:"ksls", action:"scrape"), id:"dee" %></p>